[Desktop Entry]
Name=WARAddonClient
Comment=Updating Warhammer Return of Reckoning Addons.
Exec=java -jar /opt/WARAddonClient/WARAddonClient.jar
Icon=/opt/WARAddonClient/logo.png
Terminal=false
Type=Application
Categories=Game;
